@model PaginationVM<Employee>
@{
    int count = (Model.CurrentPage - 1) * 3;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Employee Table</h4>
            <a class="btn btn-success" asp-action="create" asp-controller="employee">Create New Employee</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Facebook
                            </th>
                            <th>
                                Twitter
                            </th>
                            <th>
                                Dribbble
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Employee employee in Model.Items)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td class="py-1">
                                    <img src="~/assets/images/@employee.ImageURL" alt="image" />
                                </td>
                                <td>
                                    @employee.Name
                                </td>
                                <td>
                                    @employee.Positions.Name
                                </td>
                                <td>
                                    @employee.Facebook
                                </td>
                                <td>
                                    @employee.Twitter
                                </td>
                                <td>
                                    @employee.Dribbble
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-action="update" asp-controller="employee" asp-route-id="@employee.Id">Update</a>
                                    <a class="btn btn-danger" asp-action="delete" asp-controller="employee" asp-route-id="@employee.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(Model.CurrentPage-1<=0?"disabled":"")"><a class="page-link" asp-action="index" asp-controller="employee" asp-route-page="@(Model.CurrentPage-2)">Previous</a></li>
                        @for(int i = 1; i <= Model.TotalPage; i++)
                        {
                            <li class="page-item @(Model.CurrentPage<=i?"disabled":"")"><a class="page-link" asp-action="Index" asp-controller="employee" asp-route-page=@(i-1)>@i</a></li>
                        }
                        <li class="page-item@(Model.CurrentPage==Model.TotalPage?"disabled":"")"><a class="page-link" asp-action="index" asp-controller="employee" asp-route-page="@Model.CurrentPage">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>